<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Leave Applications</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .table thead {
            background-color: #343a40;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>All Leave Applications</h1>
    <a class="nav-link" th:href="@{/adminDashboard}"> Go back to dashboard</a>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leave : ${leaves}">
            <td th:text="${leave.employee?.firstName} + ' ' + ${leave.employee?.lastName}"></td>
            <td th:text="${leave.start_date}"></td>
            <td th:text="${leave.end_date}"></td>
            <td th:text="${leave.reason}"></td>
            <td>
                <form th:action="@{/leave/update/{id}(id=${leave.id})}" method="post">
                    <select name="status" class="form-control">
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}" th:selected="${status} == ${leave.status}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
